asgiref==3.7.1
dj-database-url==3.0.1
Django==4.2.29
django-crispy-forms==2.1
django-widget-tweaks==1.5.1
djangorestframework==3.14.0
gunicorn==23.0.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
sqlparse==0.4.4
whitenoise==6.6.0
requests==2.32.3
openpyxl==3.1.2
Pillow==11.1.0
django-storages[s3]==1.14.2
sentry-sdk[django]==2.19.0
django-redis==5.4.0
celery==5.3.6
redis==5.0.1
django-axes==6.5.1